.ex1 {
    height: 170px;
    width: 170px;
    border-radius: 150px;
    border: 100px solid black;
    background-color: aqua;
    display: block;
    margin: 100px 100px;
    animation: bord 5s;
}

@keyframes bord {
    0% {
        border-radius: 150px;
        transform: scale(1); 
    }
    100% {
        border-radius: 300px; 
        transform: scale(1.3); 
    }
}