* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#USA {
    background-image: url('./img/USA.png');
}

#Japan {
    background-image: url('./img/Japane.png');
}

#Germany {
    background-image: url('./img/Germany.png');
}
#China {
    background-image: url('./img/China.png');
}

#France {
    background-image: url('./img/France.png');
}

#Italy {
    background-image: url('./img/Italy.png');
}

.body1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top left, #2b6cb0, #1a202c 70%);
}

.EmailPassword {
    position: absolute;
    top: 10px;
    left: 8px;
}

.container1 {
    width: 900px;
    height: 550px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

/* ----- LEFT SIDE ----- */
.left {
    flex: 1;
    background: url("img/photo_2023-12-13_13-20-10.jpg") no-repeat center center/cover;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
}

a {
    text-decoration: none;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.social-buttons button {
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    width: 250px;
    text-align: left;
    background: white;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-buttons button:hover {
    transform: translateY(-2px);
}

.avromic .icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    background-color: black;
    padding: 5px;
    border-radius: 50%;
}

/* ----- RIGHT SIDE ----- */
.right {
    flex: 1;
    background: url("img/visual.png") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.right p {
    color: #888;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}

.visually-hidden {
    display: none;
}

form input {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

form input:focus {
    border-color: #0f75ff;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
}

.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

.password-container i:hover {
    color: #000;
}

form button {
    background: linear-gradient(to right, #0f75ff, #66a6ff);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 0;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    opacity: 0.9;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: #FF0000FF;
    font-size: 14px;
    margin-bottom: 10px;
}


.body2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121621;
    font-family: "Noto Sans Armenian", sans-serif;
    color: #fff;
}

.body2::-webkit-scrollbar {
    display: none;
}


.sidebar {
    width: 50px;
    background: #0f172a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    border-right: 1px solid #1e293b;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
}

.menu-btn {
    width: 40px;
    height: 40px;
    background:#2a2f3a;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.5s
    ease;
}
.menu-btn:hover {
    transform: translateY(-2px);
    color: #91c1ff;
;
}

.sidebar-icons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    color: #cbd5e1;
}

.icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.icon-item:hover {
    transform: scale(1.2);
    color: #60a5fa;

}

.icon-svg {
    width: 22px;
    height: 22px;
    stroke: currentColor;
}

.logout {
    position: fixed;
    bottom: 25px;
    color: #cbd5e1;
}
#logout_a{
    text-decoration: none;
    color: #cbd5e1;
}
.sidebar-expanded {
    position: fixed;
    top: 0;
    left: 50px;
    height: 100vh;
    background: #0f172a;
    border-right: 1px solid #2b2f3a;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.25);
    z-index: 9;
    border-radius: 0 15px 15px 0;
    color: #e6e6e6;
    font-family: "Noto Sans", sans-serif;transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.45s ease, opacity 0.3s ease;
}
.sidebar-expanded.open {
    transform: translateX(0);
    opacity: 1;
}

.menu-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 18px 20px 10px 20px;
    border-bottom: 1px solid #2c2f38;
}

.menu-toggle {
    margin: auto;
    background: transparent;
    color: #7a82ff;
    border: 2px solid #7a82ff;
    padding: 10px 28px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.menu-toggle:hover {
    background: #7a82ff;
    color: #fff;
}

.menu-header {
    display: flex;
    align-items: center;
    padding: 15px;
}

.search-input {
    width: 100%;
    padding: 9px 12px;
    border-radius: 10px;
    border: 1px solid #3a3f4b;
    background: #2a2f3a;
    color: #fff;
    outline: none;
}

.menu-items {
    flex: 1;
    overflow-y: auto;
    padding: 10px 20px;
}

.menu-items::-webkit-scrollbar {
    display: none;
}

.menu_list {
    list-style: none;
    padding: 0;
    margin-top: -30px;
}

.menu_item {
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 600;
    color: #e4e4e4;
    margin-top: 44px;
}

.menu_item:hover {
    color: #7a82ff;
    transition: all 0.3s ease;

}

.arrow {
    float: right;
    font-size: 14px;
    color: #ffffff;
}

.sub_menu {
    display: none;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
}

.sub_menu li a {
    display: block;
    margin: 6px 0;
    color: #bbb;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease;
}

.sub_menu li a:hover {
    color: #7a82ff;
    transition: all 0.3s ease;

}

.icon-inline {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
    stroke: #7a82ff;
}

.menu-footer {
    margin-top: auto;
    padding: 30px 20px;
    border-top: 1px solid #2b2f37;

}

.a-logout {
    color: #ddd;
    font-weight: 500;
    text-decoration: none;
}

.a-logout:hover {
    color: #7a82ff;
    transition: all 0.3s ease;

}

.container2 {
    flex: 1;
    margin: 0 auto;
    width: 70%;
    padding: 30px;
    position: relative;
    transition: margin-left 0.4s ease;
    z-index: 5;
}


.sidebar-expanded.open ~ .container2 {
    margin-left: 270px;
}
.H1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    padding-bottom: 20px;
}

.select_options {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* default – 4 կողք կողքի */
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.select_options select {
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}


.accordion-item {
    background: #f8f9fa;
    color: #333;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion-header:hover {
    background: #a3a3a3;
    transition: all 0.3s ease;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    cursor: pointer;
    font-weight: bold;
}

.accordion-header .flag {
    width: 35px;
    height: 25px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    margin-right: 10px;
    flex-shrink: 0;
}

.bckgr-div {
    display: flex;
    align-items: center;
}

.symbol {
    margin-left: 10px;
}

.accordion-content {
    padding: 20px;
    background: #fff;
    color: #333;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 30px;
}

.accordion-main-content {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.accordion-main-content .card1,
.accordion-main-content .card2,
.accordion-main-content .card3,
.accordion-main-content .card4 {
    background: #f1f3f5;
    padding: 10px;
    border-radius: 8px;
    height: 70px;
    width: 48%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.accordion-mini-wrapper {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion-header-mini {
    padding: 10px 15px;
    background: #e9ecef;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.accordion-header-mini:hover {
    background: #a3a3a3;
    transition: all 0.3s ease;
}

.accordion-content-mini {
    display: none;
    background: #f8f9fa;
    border-radius: 6px;
}

.accordion-content-mini .info-mini {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.accordion-content-mini .card5 {
    background: #f1f3f5;
    padding: 8px;
    border-radius: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #0f172a;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    border-top: 2px solid #172643;
    margin-left: 50px;
}
.footer_a{
    text-decoration: none;
    color: white;
}
.footer_a:hover{
    text-decoration: none;
    color: #8a8a8a;
}

@media (max-width: 1000px) {
    .select_options {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .select_options {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

@media (max-width: 1200px) {
    .accordion-main-content .card1,
    .accordion-main-content .card2,
    .accordion-main-content .card3,
    .accordion-main-content .card4 {
        width: 100%;
        height: auto;
        padding: 12px;
        font-size: 17px;
    }
}

@media (max-width: 900px) {
    .accordion-content {
        flex-direction: column;
        gap: 15px;
    }

    .accordion-main-content {
        flex: 1 1 100%;
    }

    .accordion-main-content .card1,
    .accordion-main-content .card2,
    .accordion-main-content .card3,
    .accordion-main-content .card4 {
        width: 100%;
        height: auto;
        padding: 12px;
    }
}

@media (max-width: 840px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background: #0f172a;
        margin: 0 !important;
        z-index: 30;
    }

    .sidebar-expanded {
        position: fixed;
        top: 0;
        left: 50px;
        width: 270px;
        height: 100%;
        background: #0f172a;
        border-right: 1px solid #2b2f3a;
        border-radius: 0 15px 15px 0;
        box-shadow: 4px 0 15px rgba(0, 0, 0, 0.5);
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 40;
    }

    .sidebar-expanded.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    .container2 {
        position: relative;
        z-index: 10;
        width: min(90%, 800px);
        margin: 0 auto;
        margin-left: 70px;
        padding: 30px 20px;
        transition: none;
    }

    .sidebar-expanded.open ~ .container2 {
        margin-left: 70px !important;
    }

    .accordion-content {
        flex-direction: column;
        align-items: stretch;
    }

    .accordion-main-content {
        flex: 1 1 100%;
        width: 100%;
    }

    .accordion-main-content .card1,
    .accordion-main-content .card2,
    .accordion-main-content .card3,
    .accordion-main-content .card4 {
        width: 100%;
        margin: 8px 0;
        text-align: center;
    }
}


@media (max-width: 510px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 50px;
        height: 100vh;
        background: #0f172a;
        z-index: 30;
    }

    .sidebar-expanded {
        position: fixed;
        top: 0;
        left: 50px;
        width: 270px;
        height: 100vh;
        background: #0f172a;
        border-right: 1px solid #2b2f3a;
        border-radius: 0 15px 15px 0;
        box-shadow: 4px 0 15px rgba(0, 0, 0, 0.5);
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 40;
    }

    .sidebar-expanded.open {
        transform: translateX(0);
        opacity: 1;
    }

    .container2 {
        position: relative;
        z-index: 10;
        width: 80%;
        max-width: 700px;
        margin: 0 auto;
        margin-left: 65px;
        padding: 20px;
        transition: none;
    }

    .sidebar-expanded.open ~ .container2 {
        margin-left: 65px !important;
    }

    .accordion-content {
        flex-direction: column;
        align-items: stretch;
    }

    .accordion-main-content {
        flex: 1 1 100%;
        width: 100%;
    }

    .accordion-main-content .card1,
    .accordion-main-content .card2,
    .accordion-main-content .card3,
    .accordion-main-content .card4 {
        width: 100%;
        margin: 8px 0;
        text-align: center;
    }
}
